<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="allowDuplicates" value="false" />
    <add key="fileSystemPath" value="filesystem" />
    <add key="resultsPath" value="filesystem\results" />
    <add key="amountToMint" value="0" />
  </appSettings>
</configuration>